*{font-family:Quicksand}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }
  
  i, span {
    display: inline-block;
  }
  
  .wrapper {
    display: flex;
    align-items: stretch;
  }
  
  #sidenav {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidenav ul li a {
    text-align: left;
  }
  
  #sidenav .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  
  #sidenav .sidebar-header strong {
    display: none;
    font-size: 1.8em;
  }
  
  #sidenav ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidenav ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidenav ul li a:hover {
    color: #7386D5;
    background: #fff;
  }
  
  #sidenav ul li a i {
    margin-right: 10px;
  }
  
  #sidenav ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  
  #content {
    padding: 20px;
    min-height: 100vh;
    min-width: 100vh;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
    #sidenav {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav .sidebar-header h3, #sidebar .CTAs {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav .sidebar-header strong {
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a {
      padding: 20px 10px;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a i {
      margin-right: 0;
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul ul a {
      padding: 10px !important;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a i {
      font-size: 1.3em;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav {
      margin-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    #sidebarCollapse span {
      display: none;
    }
  }
  
  body {
    font-family: Quicksand;
    background: #fafafa;
  }
  
  p {
    font-family:  Quicksand;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }
  
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }
  
  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }
  
  i, span {
    display: inline-block;
  }
  
  .wrapper {
    display: flex;
    align-items: stretch;
  }
  
  #sidenav {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidenav.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }
  
  #sidenav.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
  }
  
  #sidenav.active .sidebar-header strong {
    display: block;
  }
  
  #sidenav ul li a {
    text-align: left;
  }
  
  #sidenav.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
  }
  
  #sidenav.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
  
  #sidenav.active ul ul a {
    padding: 10px !important;
  }
  
  #sidenav.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  
  #sidenav .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  
  #sidenav .sidebar-header strong {
    display: none;
    font-size: 1.8em;
  }
  
  #sidenav ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidenav ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidenav ul li a:hover {
    color: #7386D5;
    background: #fff;
  }
  
  #sidenav ul li a i {
    margin-right: 10px;
  }
  
  #sidenav ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
  }
  
  a[aria-expanded="true"]::before {
    content: '\e260';
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  
  ul.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #7386D5;
  }
  
  a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
  }
  
  #content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
    #sidenav {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
    }
  }
  
  @media (max-width: 768px) {
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      top: auto;
      bottom: 5px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  
  @media (max-width: 768px) {
    #sidenav.active {
      margin-left: 0 !important;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav .sidebar-header h3, #sidenav .CTAs {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav .sidebar-header strong {
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a {
      padding: 20px 10px;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a span {
      font-size: 0.85em;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a i {
      margin-right: 0;
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul ul a {
      padding: 10px !important;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav ul li a i {
      font-size: 1.3em;
    }
  }
  
  @media (max-width: 768px) {
    #sidenav {
      margin-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    #sidebarCollapse span {
      display: none;
    }
  }
  

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
    