<app-side-menu>
  <div class="container table-responsive text-center">
    <h1 class="text-center mt-5">Mis Solicitudes</h1>
    
    <table class="table table-hover  mt-5">
      <thead class="fondo3">
        <tr>
          <th>Solicitudes</th>
          <th>Descripción</th>
          <th>Costo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes; let i=index">
          <td>{{i+1}}</td>
          <div *ngFor="let descripcion of solicitud.data.arregloFloral" class="text-center">
          <td  class="text-center"><b>Flor: </b>{{descripcion.nombreF}}  <b>*</b>{{descripcion.count}}</td>
        </div>
          <td>{{solicitud.data.total}}</td>
          <td><button *ngIf="!solicitud.data.status" class="btn btn-outline-success mr-2" (click)="sendNotification(solicitud.data.token, solicitud.id)">Aceptar</button>
          <button *ngIf="!solicitud.data.status" class="btn btn-outline-danger" disabled >Rechazar</button>
          <div *ngIf="solicitud.data.status" class="alert alert-info" role="alert">
            ACEPTADO
          </div></td>

        </tr>
      
      </tbody>
    </table>
    
  </div>

</app-side-menu>